@model IEnumerable<WebUserAjax.Data.Entities.User>

@{
    ViewData["Title"] = "Account Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="AdminDashboard" asp-action="Index">Admin Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Account</li>
    </ol>
</nav>

<h1>Admin Account Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }
    </tbody>
</table>