@{
    ViewData["Title"] = "Ajax Page";
}

@section Styles
{
    <style type="text/css">
        pre { outline: 1px solid silver; padding: 5px; margin: 5px; }
        .key { color: darkviolet; }
        .string { color: green; }
        .number { color: steelblue; }
        .boolean { color: blueviolet; }
        .null { color: gray; }
        .guid { color: peru; }
    </style>
}

@section Scripts
{
    <script src="js/ajax.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome Ajax</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<pre id="json">
    Empty
</pre>